

html, body {
   min-height: 100%;
}

.content-container {
    min-height: 100%;
}

.login-container {
    width: 600px;
}

.login-button {
    margin-bottom: 1.5rem!important;
}

.input-wide {
    width: 290px;
}

.manager-options {
    width: 100%;
}

.manager-action {
    width: 130px;
    height: 130px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    cursor: pointer;
    text-align: center;
    padding-top: .3em;
}

.manager-action-img {
    width: 80px;
    height: 80px;
}

